# Dependencies
/node_modules
/.pnp
.pnp.js

# Build
/.next
/out

# Env (nunca commitar chaves)
.env*.local
.env

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
